$primary: #466aab;
$header-bg: #dedede;

html,
body.app {
    min-height: 100vh;
}

header {
    background: $header-bg;
}
.main-content {
    padding-top: 40px;
}
.page-title {
    font-size: 30px;
    margin: 0 0 40px 0;
}
.btn-primary {
    background: $primary;
}

/* Projects */
#project-tabs {
    .tab-pane {
        padding: 15px;
        border: 1px solid #dedede;
        border-top: none;
    }
}
.project {
    margin-bottom: 10px;
    h3 {
        margin: 0;
    }
    label {
       font-weight: 600;
        &:after {
            content: ':';
        }
    }
    .progress-value {
        font-size: 13px;
        font-weight: 600;
        display: block;
        //text-align: right;
    }
    .update {
        margin-top: 10px;
    }
}


/* Segment */
#map {
    display: block;
    width: 100%;
    height: 350px;
    margin: 0 auto;
    -moz-box-shadow: 0px 5px 20px #ccc;
    -webkit-box-shadow: 0px 5px 20px #ccc;
    box-shadow: 0px 5px 20px #ccc;
}
.marker-label {
    height: 20px;
    padding: 5px 10px;
    background: silver;
    margin-top: 20px;
}
